<?xml version="1.0"?>
<configuration>
 <configSections>
    <sectionGroup name="AMQPConnection">
      <section name="ConnectionSettings" type="YEA.Infrastructure.Gateway.Config.ConnectionSection, RabbitMQ.Gateway" />
    </sectionGroup>
    <sectionGroup name="AMQPAdmin">
      <section name="AMQPObjectsDeclaration" type="YEA.Infrastructure.Gateway.Config.AMQPObjectsDeclarationSection, RabbitMQ.Gateway" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>

 <AMQPConnection>
    <ConnectionSettings>
      <ConnectionList>
		<!-- 自己MQ服务的地址,登录名,登录密码 -->
        <add name="Connection" server="121.196.224.139" username="guest" password="guest"/>
      </ConnectionList>
      <PublisherList>
        <add name="DataMakerPublisher" connection="Connection" exchange="access_exchange"/>
      </PublisherList>
      <AsyncReceiverList>
        <add name="DispatcherReceiver" connection="Connection" queue="demoinfo_queue" maxthreads="1"/>
      </AsyncReceiverList>
    </ConnectionSettings>
  </AMQPConnection>
  <AMQPAdmin>
    <AMQPObjectsDeclaration>
      <ExchangeList>
	    <add name="access_exchange" connection="Connection" type="topic" autodelete="false" durable="true"/>
      </ExchangeList>
      <QueueList>
		<add name="demoinfo_queue" connection="Connection" autodelete="false" durable="true"/>
      </QueueList>
      <BindingList>
		<add queue="demoinfo_queue" connection="Connection" exchange="access_exchange" subscriptionkey="demoinfo_subscription"/>
      </BindingList>
    </AMQPObjectsDeclaration>
  </AMQPAdmin>

</configuration>